build
target
out
lib
dump.rdb
pom.xml
# use glob syntax.
syntax: glob
*.class
*~
.DS_Store
*.#*
*#*
*.classpath
*.project
*.settings
*.dot
.lein-failures
.repl
.lein-deps-sum
.lein-repl-history
.lein-plugins
.clojurescript-output
repl
.repl-*
.lein-env
.nrepl*
checkouts
schema.png
dev/public/assets/main.js
dev/public/generated
dev/public/assets/generated
*-init.clj