build
target
out
lib
dump.rdb
pom.xml
# use glob syntax.
syntax: glob
*.class
*~
.DS_Store
*.#*
*#*
*.classpath
*.project
*.settings
*.dot
.cake/
.lein-failures
.repl
resources/public/cljs/cljs/
resources/public/cljs/clojure/
.lein-deps-sum
.lein-repl-history
.lein-plugins
.clojurescript-output
resources/public/cljs/generated*
resources/public/cljs/dev*
resources/public/cljs/prod*
repl
.repl-*
.lein-env
.nrepl*
checkouts
schema.png
docs/main.js